@import url(/static/fonts/carme.css);

@import url(/static/fonts/opensans-light.css);
body {
  font-family: open sans, "Gill Sans";
  min-width: 1100px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
body .row {
  margin-top: .2em;
}
body h4 {
  min-height: .5em;
}
body #q_loading {
  font-size: 12pt;
  color: grey;
  display: none;
  margin-left: 2em;
}
body #facet-togglecheckall {
  float: right;
}
body #where {
  margin-top: 2em;
}
body #where .clause {
  list-style-type: none;
  font-family: arial;
  background: grey;
  color: white;
  padding: 3px;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 2em;
  margin-bottom: 2px;
  max-height: 3em;
  overflow: hidden;
}
body #where .clause a {
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-right: -1em;
}
body .cstat-label {
  overflow: hidden;
  text-align: right;
}
body .cstat-label label,
body .cstat-label input {
  display: inline;
  cursor: pointer;
}
body .cstat-label .type label {
  font-size: smaller;
  color: black;
  background: whitesmoke;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  min-width: 50px;
}
body .cstat-label .type label:hover {
  font-weight: bold;
  background: steelblue;
  color: white;
}
body .count {
  font-size: smaller;
}
body .cstat circle {
  fill: #aeaeae;
  stroke: none;
}
body .cstat rect {
  fill: #aeaeae;
  stroke: none;
}
body .axis path,
body .axis line {
  fill: none;
  stroke: #aeaeae;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
body .tick text {
  fill: #aeaeae;
  font-size: 10pt;
}
body .mark:hover {
  fill: steelblue;
}
body circle.selected {
  fill: black;
  size: 10;
  stroke: black;
}
body rect.selected {
  fill: black;
}
body rect.faded {
  fill: whitesmoke;
}
body rect.highlighted {
  fill: red;
}
body rect.extent {
  fill: grey;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: white;
  shape-rendering: crispEdges;
}
body .background .mark {
  fill-opacity: 0.18;
  stroke-opacity: 0.05;
  fill: grey;
}
body #tuples {
  height: 500px;
  overflow-y: scroll;
  margin-top: 1em;
}
body table.tuples tr td,
body table.tuples tr th {
  padding: 5px;
  font-size: 9pt;
}
body table.tuples tr th {
  font-weight: bold;
  text-align: center;
}
#query-container {
  position: fixed;
  top: 0px;
  margin-left: 50%;
  padding-bottom: 2em;
  background: white;
}
#q .q-where-close {
  cursor: pointer;
  position: absolute;
  right: 2em;
  vertical-align: middle;
  padding-top: .4em;
}
#q input[name=q-where] {
  padding-right: 2em;
}
#right .legend {
  margin-top: 10px;
}
#right .legend span {
  padding: 3px;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  border-radius: 3px;
  border: none;
  color: white;
}
.scorpion-results {
  padding: 0px;
  /* /.scorpion-result */

}
.scorpion-results .scorpion-result .filter-clause {
  font-family: "Gill Sans";
  font-size: 12pt;
  line-height: 15pt;
  color: white;
  clear: both;
  background: steelblue;
  width: 100%;
  padding: .5em;
  padding-left: 1em;
  padding-top: 1.5em;
  list-style-type: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-top: 1.5em;
}
.scorpion-results .scorpion-result .filter-clause .load-text {
  display: none;
  color: black;
}
.scorpion-results .scorpion-result .filter-clause .info {
  right: .25em;
  top: .25em;
  position: absolute;
  font-weight: 100;
  font-size: 10pt;
}
.scorpion-results .scorpion-result .filter-clause .info .score,
.scorpion-results .scorpion-result .filter-clause .info .crange {
  margin-left: 2em;
}
.scorpion-results .scorpion-result .filter-clause.locked {
  background: black;
}
.scorpion-results .scorpion-result .equiv-clauses {
  margin-left: 1em;
}
.scorpion-results .scorpion-result .equiv-toggle-container {
  padding-left: 1em;
}
.scorpion-results .scorpion-result .equiv-clause,
.scorpion-results .scorpion-result .equiv-toggle {
  font-family: "Gill Sans";
  font-size: 11pt;
  line-height: 13pt;
  width: 100%;
  padding: .75em;
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  list-style-type: none;
  color: white;
  background: #3c4f5f;
  border-radius: 2px;
  clear: both;
}
.scorpion-results .scorpion-result .equiv-toggle {
  cursor: pointer;
  padding: 5px;
  padding-left: 1em;
}
.scorpion-results .scorpion-result .filter-clause:hover,
.scorpion-results .scorpion-result .equiv-toggle:hover {
  background: #359fdb;
}
.scorpion-results .scorpion-result .filter-clause.locked:hover {
  background: black;
}
#scorpion-partialresults-container .scorpion-result .filter-clause {
  background: #979797;
}
#scorpion-partialresults-container .scorpion-result .equiv-clause,
#scorpion-partialresults-container .scorpion-result .equiv-toggle {
  background: #7b8085;
}
#scorpion-partialresults-container .scorpion-result .filter-clause:hover,
#scorpion-partialresults-container .scorpion-result .equiv-toggle:hover {
  background: #7b8085;
}
#walkthrough-container {
  position: absolute;
  top: 8em;
  left: 0px;
  background: white;
  z-index: 9999;
}
#walkthrough-container .walkthrough {
  width: 40%;
  position: fixed;
  left: -10px;
  background: white;
  border: 10px solid #647ca0;
  padding: 1em;
  padding-top: 0px;
  box-shadow: 4px 4px 10px -4px #929292;
}
#walkthrough-container .walkthrough fieldset {
  margin-top: 2em;
  margin-bottom: 2em;
}
#walkthrough-container .walkthrough span.btn {
  margin-bottom: .25em;
}
#walkthrough-container .walkthrough span.btn-danger span.btn-success {
  border: none;
}
#walkthrough-container .walkthrough label {
  text-align: right;
}
#walkthrough-container .walkthrough #draw.drawing {
  background: whitesmoke;
}
div.task {
  top: 0px;
  width: 500px;
  padding: 15px 15px 15px;
  margin: 0 -15px 15px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: relative;
  z-index: 100;
  border-width: 1px;
  border-color: #ddd;
  border-top: none;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
div.task .submit {
  width: 100%;
}
div.task input[name=text] {
  margin-bottom: .2em;
}
div.task h3 {
  margin-top: .0em;
}
#scorpion-wait {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
#scorpion-wait .loadingspincircle {
  width: 24px;
  height: 24px;
  /*
    border: 2px solid #ccc;
    border-radius: 100%;
    */

}
#scorpion-wait .loadingspincircle:before {
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px 4px 0 0;
  background-color: white;
  content: "";
  border-radius: 100%;
  animation: spin 4s ease infinite;
  -webkit-animation: spin 4s ease infinite;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
}
.loading i {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 12px;
  height: 12px;
  background: #799ED2;
  border-radius: 12px;
  -webkit-animation: spin2 1.5s ease-in-out infinite;
}
.loading i:first-child {
  top: -12px;
  left: 0;
  background: #194685;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}
.loading i:last-child {
  top: 12px;
  left: -12px;
  background: #C7202C;
  -webkit-animation: spin3 1.5s ease-in-out infinite;
}
@-webkit-keyframes spin {
  0% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin2 {
  0% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin3 {
  0% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
}
/* Thanks http://proto.io/freebies/onoff/ !! */
.onoffswitch {
  position: relative;
  width: 102px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  padding-left: 12px;
  background-color: #EBEBEB;
  color: #000000;
}
.onoffswitch-inner:after {
  padding-right: 12px;
  background-color: #EBEBEB;
  color: #000000;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 26px;
  margin: 0px;
  background: #D46F6F;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 72px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #6ADE85;
}
#selection-type .onoffswitch-inner:before {
  content: "Select";
}
#selection-type .onoffswitch-inner:after {
  content: "Remove";
}
#fake-type .onoffswitch-inner:before {
  content: "Real";
}
#fake-type .onoffswitch-inner:after {
  content: "Fake";
}
