@import url(/static/fonts/carme.css);

@import url(/static/fonts/opensans-light.css);
body {
  font-family: open sans, "Gill Sans";
  min-width: 900px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
body .row {
  margin-top: .2em;
}
body h4 {
  min-height: .5em;
}
body #where {
  margin-top: 2em;
}
body .cstat-label {
  overflow: hidden;
  text-align: right;
}
body .cstat-label label,
body .cstat-label input {
  display: inline;
  cursor: pointer;
}
body .cstat-label .type {
  font-size: smaller;
  color: grey;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
body .cstat-label .type:hover {
  font-weight: bold;
  background: steelblue;
  color: white;
}
body .cstat circle {
  fill: #aeaeae;
  stroke: none;
}
body .cstat rect {
  fill: #aeaeae;
  stroke: none;
}
body .mark:hover {
  fill: steelblue;
}
#query-container {
  position: fixed;
  top: 0px;
  margin-left: 50%;
  background: white;
  padding-bottom: 2em;
}
#query-container .axis path,
#query-container .axis line {
  fill: none;
  stroke: #aeaeae;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#query-container .tick text {
  fill: #aeaeae;
  font-size: 10pt;
}
#query-container circle.selected {
  fill: black;
  size: 10;
  stroke: black;
}
#query-container rect.selected {
  fill: black;
}
#query-container rect.faded {
  fill: whitesmoke;
}
#query-container rect.highlighted {
  fill: red;
}
#query-container rect.extent {
  fill: grey;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: white;
  shape-rendering: crispEdges;
}
#query-container .legend {
  margin-top: 10px;
}
#query-container .legend span {
  padding: 3px;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  border-radius: 3px;
  border: none;
  color: white;
}
.scorpion-results {
  padding: 0px;
  /* /.scorpion-result */

}
.scorpion-results .scorpion-result .filter-clause {
  font-family: "Gill Sans";
  font-size: 12pt;
  line-height: 15pt;
  color: white;
  clear: both;
  background: steelblue;
  width: 100%;
  padding: .5em;
  padding-left: 1em;
  list-style-type: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-top: 1.5em;
}
.scorpion-results .scorpion-result .filter-clause .load-text {
  display: none;
  color: black;
}
.scorpion-results .scorpion-result .filter-clause .info {
  right: .25em;
  top: .25em;
  position: absolute;
  font-weight: 100;
  font-size: 10pt;
}
.scorpion-results .scorpion-result .filter-clause .info .score,
.scorpion-results .scorpion-result .filter-clause .info .crange {
  margin-left: 2em;
}
.scorpion-results .scorpion-result .equiv-clauses {
  margin-left: 1em;
}
.scorpion-results .scorpion-result .equiv-toggle-container {
  padding-left: 1em;
}
.scorpion-results .scorpion-result .equiv-clause,
.scorpion-results .scorpion-result .equiv-toggle {
  font-family: "Gill Sans";
  font-size: 11pt;
  line-height: 13pt;
  width: 100%;
  padding: .75em;
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  list-style-type: none;
  color: white;
  background: #3c4f5f;
  border-radius: 2px;
  clear: both;
}
.scorpion-results .scorpion-result .equiv-toggle {
  cursor: pointer;
  padding: 5px;
  padding-left: 1em;
}
.scorpion-results .scorpion-result .filter-clause:hover,
.scorpion-results .scorpion-result .equiv-toggle:hover {
  background: #359fdb;
}
#walkthrough-container {
  position: absolute;
  top: 8em;
  left: 0px;
}
#walkthrough-container .walkthrough {
  width: 40%;
  background: white;
  border: 10px solid #647ca0;
  padding: 1em;
  position: fixed;
  left: -10px;
  padding-top: 0px;
  box-shadow: 4px 4px 10px -4px #929292;
}
#walkthrough-container .walkthrough fieldset {
  margin-top: 2em;
  margin-bottom: 2em;
}
#walkthrough-container .walkthrough span.btn {
  margin-bottom: .25em;
}
#walkthrough-container .walkthrough span.btn-danger span.btn-success {
  border: none;
}
#walkthrough-container .walkthrough label {
  text-align: right;
}
#walkthrough-container .walkthrough #draw.drawing {
  background: whitesmoke;
}
#scorpion-wait {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
#scorpion-wait .loadingspincircle {
  width: 24px;
  height: 24px;
  /*
    border: 2px solid #ccc;
    border-radius: 100%;
    */

}
#scorpion-wait .loadingspincircle:before {
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px 4px 0 0;
  background-color: white;
  content: "";
  border-radius: 100%;
  animation: spin 2s ease infinite;
  -webkit-animation: spin 2s ease infinite;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
}
.loading i {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 12px;
  height: 12px;
  background: #799ED2;
  border-radius: 12px;
  -webkit-animation: spin2 1.5s ease-in-out infinite;
}
.loading i:first-child {
  top: -12px;
  left: 0;
  background: #194685;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}
.loading i:last-child {
  top: 12px;
  left: -12px;
  background: #C7202C;
  -webkit-animation: spin3 1.5s ease-in-out infinite;
}
@-webkit-keyframes spin {
  0% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin2 {
  0% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin3 {
  0% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(0.5);
  }
  33% {
    top: -12px;
    left: 0;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  66% {
    top: 12px;
    left: 12px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(0.5);
  }
  100% {
    top: 12px;
    left: -12px;
    -webkit-transform: scale(1);
  }
}
